<nav class="navbar navbar-expand-lg navbar-light nav-yellow border-bottom border-top p-0">
    <div class="container"><a _ngcontent-ng-c1724316212=""
            class="navbar-brand fs-4 fw-bold"><i class="fa-solid fa-cart-shopping"
                style="color: #f54242;"></i><span _ngcontent-ng-c1724316212=""
                class="textBlur">bigBasket</span></a><button type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span
                class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item dropdown"><a _ngcontent-ng-c1724316212=""
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        class="nav-link dropdown-toggle fw-semibold text-uppercase me-1"> Categories </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Fruits &amp; Vegetables
                            </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Foodgrains, Oil &amp; Masala
                            </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Bakery, Cakes &amp; Dairy
                            </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Beverages </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Snacks &amp; Branded Foods
                            </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Snacks </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> soft drinks </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> BBQ </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Cat E </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> string </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Fragrances </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Fragrances &amp; Scents
                            </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Scents </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> FragrancesNew </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Oil &amp; Masala </a><!---->
                        </li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> T-shirts </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> eyob </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Home and kitchen </a><!---->
                        </li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Mobile </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Food </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> Nonveg </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> laptop </a><!----></li>
                        <li class="position-relative ng-star-inserted"><a
                                class="dropdown-item hand"> phone </a><!----></li><!---->
                    </ul>
                </li>
                <li class="nav-item dropdown"><a _ngcontent-ng-c1724316212=""
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1"> pages </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li _ngcontent-ng-c1724316212=""><a class="dropdown-item">About
                                Us</a></li>
                        <li _ngcontent-ng-c1724316212=""><a class="dropdown-item">Contact
                                Us</a></li>
                        <li _ngcontent-ng-c1724316212=""><a class="dropdown-item">Terms and
                                Conditions</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a _ngcontent-ng-c1724316212=""
                        class="nav-link fw-semibold text-uppercase text-black me-1 hand">Contact us</a></li>
                <li class="nav-item"><a class="nav-link"><i
                            class="fa-solid fa-magnifying-glass fs-5"
                            style="color: #0c0d0d;"></i></a></li><!---->
                <li class="nav-item dropdown"><a _ngcontent-ng-c1724316212=""
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1"><i
                            class="fa fa-user fs-5 me-1" style="color: #202122;"></i></a>
                    <ul aria-labelledby="navbarDropdown"
                        class="dropdown-menu loginDropdownMenu" style="left: -50px;">
                        <li _ngcontent-ng-c1724316212="">
                            <div class="text-center"><a
                                    _ngcontent-ng-c1724316212=""><button _ngcontent-ng-c1724316212=""
                                        class="btn loginBtn rounded-2">Login</button></a>
                                <div class="regDiv"><span _ngcontent-ng-c1724316212="">New
                                        customer? </span><a class="registerLink">Start
                                        here.</a></div>
                            </div>
                        </li>
                    </ul>
                </li><!----><!---->
                <li class="nav-item"><a class="nav-link"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>